# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# Virtualenv
.venv/
venv/
ENV/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Linter Cache
.ruff_cache/

# Documentation
site/
docs/
docs-src/_site/
docs-src/_freeze/

# Dependency Management
.pdm-build/
.pdm-python
pdm.lock
__pypackages__/

# IDE / Editor
.idea/
.vscode/

# OS
.DS_Store

# Other
.claude/